<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <form action="/shop/shop_upload_complete" method="post" enctype="multipart/form-data">
        <p>+Category
        <select name="category">
          <option value="cases">IT: cases</option>
          <option value="tshirts">T-shirts</option>
        </select></p>
        <p><input type="text" name="product" placeholder="Product Number"></p>
        <p><input type="file" name="image"></p>
        <p><input type="text" name="title" placeholder="Title"></p>
        <input class="btn btn-sm btn-block" type="submit" value="submit">
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

