<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Jiyunmoves Gallery</h3>
      <% if !session[:user_id].nil? %>
        <a href="/gallery/gallery_upload">UPLOAD</a>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <a  href="/gallery/009"><img data-src="holder.js/300x200" alt=" "></a>
        <div class="caption">
          <h3>TheFirstMove</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a  href="/gallery/008"><img data-src="holder.js/300x200" alt=" "></a>
        <div class="caption">
          <h3>Day dreaming</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a  href="/gallery/007"><img data-src="holder.js/300x200" alt=" "></a>
        <div class="caption">
          <h3>Portraits</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a  href="/gallery/006"><img data-src="holder.js/300x200" alt=" "></a>
        <div class="caption">
          <h3>Live realistic</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a  href="/gallery/005"><img data-src="holder.js/300x200" alt=" "></a>
        <div class="caption">
          <h3>2012 Summer, Namhae-Tongyuong</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a  href="/gallery/004"><img data-src="holder.js/300x200" alt=" "></a>
        <div class="caption">
          <h3>Quick Photo</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a  href="/gallery/003"><img data-src="holder.js/300x200" alt=" "></a>
        <div class="caption">
          <h3>Project 2011</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a  href="/gallery/002"><img data-src="holder.js/300x200" alt=" "></a>
        <div class="caption">
          <h3>2008-2009_London</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a  href="/gallery/001"><img data-src="holder.js/300x200" alt=" "></a>
        <div class="caption">
          <h3>Blurred</h3>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
