<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @category %> posts</h3>
      <% if !session[:user_id].nil? %>
        <a href="/blog/blog_write">WRITE</a>
      <% end %>
    </div>
  </div>
  
  <%= render :partial=>"blog/post" %>
</div>
